<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Google Fonts - Roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Output Files</title>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            color: #202124;
            background-color: #ffffff;
        }

        h1, h2 {
            font-weight: 500;
        }

        h1 {
            font-size: 2.5em;
        }

        h2 {
            font-size: 2em;
        }

        .img-3d {
            transform: perspective(1000px) rotateY(20deg);
            transition: transform 0.5s;
        }
        .img-3d:hover {
            transform: perspective(1000px) rotateY(0deg);
        }

        .navbar, .navbar-nav .nav-link {
            background-color: #4285F4;
            color: #ffffff;
        }

        .navbar-brand {
            font-weight: 700;
            color: #1c0c0c;
        }

        .navbar-nav .nav-link:hover {
            background-color: #357ae8;
            color: #ffffff;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="{{ url_for('home') }}">Audio Processing App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('upload_file', action='reverb') }}">Reverb</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('upload_file', action='shift') }}">Shift</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('upload_file', action='stretch') }}">Stretch</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('upload_file', action='tnnr') }}">TNNR-ADMM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('upload_file', action='convert') }}">Convert</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('upload_file', action='speech2text') }}">Speech to Text</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('display_files', action=action) }}">View Outputs</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <h1>Rezultate pentru actiunea {{ action.capitalize() }}</h1>
        {% if action == 'reverb' %}
            <h2>Fisierul Original si Fisierul Reverb</h2>
            <div class="audio-player mb-3">
                <audio controls>
                    <source src="{{ url_for('uploaded_file', filename='fisier.mp3') }}" type="audio/mp3">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <div class="audio-player mb-3">
                <audio controls>
                    <source src="{{ url_for('output_file', filename='reverb_fisier.wav') }}" type="audio/wav">
                    Your browser does not support the audio element.
                </audio>
            </div>
        {% elif action == 'shift' %}
            <h2>Fisierul Original si Fisierul Shiftat</h2>
            <div class="audio-player mb-3">
                <audio controls>
                    <source src="{{ url_for('uploaded_file', filename='fisier.mp3') }}" type="audio/mp3">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <div class="audio-player mb-3">
                <audio controls>
                    <source src="{{ url_for('output_file', filename='shift_fisier.wav') }}" type="audio/wav">
                    Your browser does not support the audio element.
                </audio>
            </div>
        {% elif action == 'stretch' %}
            <h2>Fisierul Original si Fisierul Stretched</h2>
            <div class="audio-player mb-3">
                <audio controls>
                    <source src="{{ url_for('uploaded_file', filename='fisier.mp3') }}" type="audio/mp3">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <div class="audio-player mb-3">
                <audio controls>
                    <source src="{{ url_for('output_file', filename='stretch_fisier.wav') }}" type="audio/wav">
                    Your browser does not support the audio element.
                </audio>
            </div>
        {% elif action == 'tnnr' %}
            <h2>TNNR-ADMM </h2>
            <div class="audio-player mb-3">
                <audio controls>
                    <source src="{{ url_for('output_file', filename='masca.wav') }}" type="audio/wav">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <div class="audio-player mb-3">
                <audio controls>
                    <source src="{{ url_for('output_file', filename='repaired.wav') }}" type="audio/wav">
                    Your browser does not support the audio element.
                </audio>
                <br><br><br><br><br>
            </div>
            
            <div class="mb-3">
                <img src="{{ url_for('output_file', filename='spectral.png') }}" class="img-fluid img-3d" alt="Output Image">
            </div>
        {% elif action == 'convert' %}
            <h2>Fisierul Original si Fisierul Convertit</h2>
            <div class="audio-player mb-3">
                <audio controls>
                    <source src="{{ url_for('uploaded_file', filename='fisier.mp3') }}" type="audio/mp3">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <div class="audio-player mb-3">
                <audio controls>
                    <source src="{{ url_for('output_file', filename=output_filename) }}" type="audio/wav">
                    Your browser does not support the audio element.
                </audio>
            </div>
        {% elif action == 'speech2text' %}
            <h2>Original Audio and Transcribed Text</h2>
            <div class="audio-player mb-3">
                <audio controls>
                    <source src="{{ url_for('uploaded_file', filename='fisier.mp3') }}" type="audio/mp3">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <div class="transcript">
                <h3>Transcription:</h3>
                <pre>{{ transcript }}</pre>
            </div>
        {% else %}
            <p>No specific action selected.</p>
        {% endif %}
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
